<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="theme-toggle light" id="themeToggle">
    <span class="theme-icon sun-icon">☀️</span>
    <span class="theme-icon moon-icon">🌒</span>
</div>

<div class="page-selector">
    <a href="{{ url_for('cliente') }}" class="page-item" data-page="cliente"><span>Cliente</span></a>
    <a href="{{ url_for('index') }}" class="page-item" data-page="index"><span>Index</span></a>
    <a href="{{ url_for('servidor') }}" class="page-item" data-page="servidor"><span>Servidor</span></a>
</div>

    <span>coman monda</span>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>